body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #173300;
    color: white;
    padding: 1em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    color: #ccc;
}

main {
    padding: 2em;
}

.about-section {
    background-color: #f7f7f7;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1em;
}

.our-story,
.values {
    margin-top: 2em;
}

h1,
h2 {
    color: #2f4f4f;
}

footer {
    background-color: #173300;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}